
:root{
  --bg-color:#2a2929;
  --second-bg-color: #323946;
  --text-color: aliceblue;
  --main-color: rgb(25, 69, 180);
  --spacing: 0.1rem;
  --clr-grey-10: hsl(210, 36%, 96%);
  --radius: 0.25rem;

}


body {
  margin: 0;
  font-family:  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
     box-sizing: border-box;
}
*{
  background:var(--bg-color);
  color: var(--text-color);
  
}
/*-------------------------------------NAVBAR---------------*/
.logo{
  font-style: italic;
  color: red;
}
.navbar{
  
  top: 0 !important;
}
.navList{
  display:inline-flex;
  padding: 2rem;
  list-style-type: none;
  text-decoration: none;
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}
.navList li{
  padding-left: 2rem;
  font-weight: 600;
  font-size: 2rem;
}
.navList li .active{
  color: blue;
  text-decoration: underline;
}
.link{
  color: var(--text-color);
  text-decoration: none;
}
/*-------------------------------------pocetna strana---------------*/

.container_product  {
  position: relative;
  
}
.box{
  padding: 10px;
  background: #999696;
  border-radius: 0.5rem;
  display: grid;
  row-gap: 0.5rem;
  margin: 1rem;
  cursor: pointer;
  transition: 0.5;

} 
.box:hover{
  transform: scale(1.05);
  opacity: 0.5;

}
.box .link_single {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--clr-primary-5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transition: var(--transition);
  opacity: 0;
  cursor: pointer;
}
.box .link_single .icon{
  font-size: 2.8rem;
  color: #fff;
  background: transparent;
}
.container:hover .link_single {
  opacity: 1;
  background: transparent;
  color: #fff;
}
.box img{
  width: 350px;
  height:250px;
  border-radius: 15px;
  object-fit: contain;
  object-position: center;
}
.box-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 10px;
  border-radius: 0.5rem;
} 
.featured{
  display: flex;
  margin: 1rem;
  flex-direction: column;
}
.featured h2{
  display: block;
  align-items: center;
}
.featured-product{
  display: flex;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: wrap;
}

/*-------------------homepage --------------------------------------*/
.home{
 display: flex;
text-align: left;
}

.home div{
display: flex;
align-items: start;
flex-direction: column;
padding-right: 1rem;
}
/*-----------------------------PRODUCTS PAGE---------------------------------*/
.products {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
}
.products-container{
  display: flex;
  flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
}
/*-----------------------------Filters---------------------------------*/

.filter{
  margin-right: 25px;
 width: 35%;
 margin-top: 3rem;

}
.form-control {
  margin-bottom: 1.25rem;
  h5 {
    margin-bottom: .5rem;
    color: var(--bg-color);
    background: transparent;
  }
}
.search-input {
  padding: 0.5rem;
  background: var(--clr-grey-10);
  border-color: transparent;
  color: #222;
  outline: 0;
  border-radius: 10px;
}

.search-input::placeholder {
  text-transform: capitalize;
}

button {
  display: block;
  margin: 0.25em 0;
  padding: 0.25rem 0;
  text-transform: capitalize;
  background: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-5);
  cursor: pointer;
}
.active {
  border-color: black;
}

.colors {
  display: flex;
  align-items: center;
}
.color-btn {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #222;
  margin-right: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;

}
.all-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  opacity: 0.5;
}
.active {
  opacity: 1;
}
.all-btn .active {
  text-decoration: underline;
}
.price {
  margin-bottom: 0.25rem;
}

.clear-btn {
  background: var(--bg-color);
  color: var(--text-color);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
}
@media (min-width: 768px) {
  .content {
    position: sticky;
    top: 1rem;
  }
}
/*-----------------------------Foouter---------------------------------*/
footer .row{
  color: var(--text-color) !important;
} 
.locatinon{
  width: 350px;
  height: 350px;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 2px;
}
/*-----------------------------singlePRODUCTS PAGE---------------------------------*/
main{
  display: flex;
}
.img-box img{
  width: 750px;
  height: 650px;
  margin: 0 5rem 5rem 0;
}
main .description{
  letter-spacing: 1.1px;
}
main h5{
  margin: 10px;
}
.add-to-cart{
  display: flex;
}
main input{
  border: none;
  outline: none;
  background: #fff;
  width: 85px;
  height: 55px;
  border-radius: 5px;
  color: blue;
  font-weight: 800;
  font-size: 3.2rem;
  text-align: center;
}
main button {
  margin-left: 10px;
}

/*---------------img galery ---------------------*/
.gallery {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
  img {
    height: 100px;
    cursor: pointer;
  }
}
.active-img {
  box-shadow: 0px 0px 0px 4px var(--text-color);
}
/*----------------cart items---------------*/
.gallery img{
  width: 120px;
}
.cart-content{
  display: flex;
  justify-content: space-around;
  border: 2px solid green;
  border-radius: 15px;
  padding: 2rem;
}
.cart-content .cart-img{
  width: 165px;
  height: 125px;
}
.cart-content .cart-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.delete-item{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cart-content .color span{
 
  height: 20px;
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  margin-left: 20px;
  border: 2px solid white;
  width: 25px;
}

/*---------------cart-btn-------------------*/

.btns-cart{
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
/*---------------total----------------------------*/

.total{
  display: flex;
  width: 555px;
  height: 355px;
  border: 2px solid var(--text-color);
align-items:center ;
justify-content: center;
border-radius: 13px;
flex-wrap: wrap;
flex-direction: column;
}



.cart-value {
  position: absolute;
  top: 10px;
  right: -25px;
  background: var(--clr-primary-5);
  width: auto;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 0.75rem;
  color: var(--clr-white);
  padding: 12px;
  background-color: var(--text-color);
  color: green;
}
.cart-value span{
  background: transparent;
  color: green;
  font-weight: 800;
  font-size: 18px;
}
/*----------------single product*----------------*/
.product-center {
  display: grid;
  gap: 4rem;
  margin: 2rem;

}
.price {
  color: var(--text-color);

}
.desc {
  line-height: 2;
  max-width: 45em;

}
.info {
  text-transform: capitalize;
  width: 300px;
  display: grid;
  grid-template-columns: 125px 1fr;
  span {
    font-weight: 700;
  }
}

/*----------add to cart -------------*/
.amount_info{
  margin-right: 10px;
  margin-bottom: -1px;
}
.amount_container{
  display: flex;
  flex-direction: row;
  width: 85px;
  cursor: pointer;
}
.amount_bnts{
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.colors .color-btn {
  width: 25px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid white ;
}
.colors div{
  display: inline-flex;
  padding: 10px 0;
}
.colors div .check{
  background: transparent;
  font-size: 10px;
}
